In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
sample_submission = pd.read_csv('/Users/ugwumsiegbuna/Downloads/SampleSubmission.csv')

In [6]:
sample_submission.head()

          ID  total_cost
0     tour_1           0
1   tour_100           0
2  tour_1001           0
3  tour_1006           0
4  tour_1009           0

In [7]:
train = pd.read_csv('/Users/ugwumsiegbuna/Downloads/Train.csv')

In [8]:
train.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,13.0,0.0,Cash,No,Friendly People,674602.5
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,14.0,7.0,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,1.0,31.0,Cash,No,Excellent Experience,3315000.0
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,11.0,0.0,Cash,Yes,Friendly People,7790250.0
4,tour_1004,CHINA,1-24,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,7.0,4.0,Cash,Yes,No comments,1657500.0

In [9]:
pd.set_option('max_columns', None)

In [10]:
train.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,package_accomodation,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,No,No,No,No,No,No,13.0,0.0,Cash,No,Friendly People,674602.5
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,No,No,No,No,No,No,No,14.0,7.0,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,No,No,No,No,No,No,No,1.0,31.0,Cash,No,Excellent Experience,3315000.0
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,No,Yes,Yes,Yes,Yes,Yes,No,11.0,0.0,Cash,Yes,Friendly People,7790250.0
4,tour_1004,CHINA,1-24,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,No,No,No,No,No,No,No,7.0,4.0,Cash,Yes,No comments,1657500.0

In [13]:
train.groupby('country').first()

,ID,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,package_accomodation,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
country,,,,,,,,,,,,,,,,,,,,,,
ALGERIA,tour_103,25-44,Spouse,1.0,1.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Independent,No,No,No,No,No,No,No,0.0,11.0,Cash,Yes,Wildlife,3734347.5
ANGOLA,tour_2611,45-64,Spouse,1.0,1.0,Leisure and Holidays,Cultural tourism,"Travel, agent, tour operator",Independent,No,No,No,No,No,No,No,6.0,12.0,Cash,Yes,No comments,500000.0
ARGENTINA,tour_5128,45-64,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,Yes,Yes,Yes,Yes,Yes,No,6.0,3.0,Credit Card,Yes,"Wonderful Country, Landscape, Nature",10442250.0
AUSTRALIA,tour_1078,25-44,Friends/Relatives,0.0,2.0,Leisure and Holidays,Conference tourism,"Friends, relatives",Package Tour,No,Yes,No,No,No,Yes,No,9.0,2.0,Cash,Yes,No comments,19890000.0
AUSTRIA,tour_1021,45-64,Friends/Relatives,4.0,1.0,Visiting Friends and Relatives,Mountain climbing,"Friends, relatives",Independent,No,No,No,No,No,No,No,24.0,0.0,Cash,No,Friendly People,2000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UNITED STATES OF AMERICA,tour_1008,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,Yes,Yes,Yes,Yes,Yes,Yes,Yes,10.0,3.0,Cash,Yes,Friendly People,3480750.0
URUGUAY,tour_5468,25-44,Friends/Relatives,1.0,1.0,Leisure and Holidays,Beach tourism,"Radio, TV, Web",Independent,No,No,No,No,No,No,No,0.0,10.0,Cash,Yes,"Wonderful Country, Landscape, Nature",165750.0
YEMEN,tour_1088,45-64,Spouse and Children,1.0,2.0,Visiting Friends and Relatives,Beach tourism,"Friends, relatives",Independent,No,No,No,No,No,No,No,14.0,0.0,Cash,No,Excellent Experience,248625.0
ZAMBIA,tour_1123,45-64,Friends/Relatives,1.0,1.0,Meetings and Conference,Mountain climbing,"Friends, relatives",Independent,No,No,No,No,No,No,No,7.0,0.0,Cash,Yes,Friendly People,414375.0
ZIMBABWE,tour_1122,25-44,Spouse and Children,0.0,1.0,Scientific and Academic,Beach tourism,"Radio, TV, Web",Independent,No,No,No,No,No,No,No,21.0,0.0,Cash,Yes,Friendly People,828750.0